.review-rating .button .material-icons {
  font-size: 20px; 
}

.submit-review-btn{
	background-color: #f60;
	border-color: #f60;
}
.submit-review-btn:hover{
	background-color: #f60;
	border-color: #f60;
}

.review-section{
	margin-bottom: 15px;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
    background-color: #f60 !important;
    border-color: #f60;
}